body {
    background-color: #f8fafd;
    font-family: 'Inter', sans-serif;
    color: #252525;
    padding: 2rem;
}

main {
    max-width: 780px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    padding-bottom: 3rem;
    margin-top: 10rem;
}

.hero .title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.hero .subtitle {
    font-size: 1.125rem;
    color: #828282;
}

.box {
    background: #fff;
    box-shadow: 0 1px 2px rgba(132, 148, 165, 0.1);
    border-radius: 8px;
    margin-bottom: 3rem;
}

.password {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

.password .text {
    flex: 1;
}

.password .text input {
    width: 100%;
    border: none;
    outline: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s;
    font-size: 3rem;
    font-family: 'Inconsolata', serif;
}

.password .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.security-indicator {
    height: 10px;
    background-color: #828282;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
}

.security-indicator .bar {
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.2s;
}

.security-indicator .bar.completed {
    width: 100%;
}

.security-indicator .bar.safe {
    background-color: #00c853;
}

.security-indicator .bar.warning {
    background-color: #ffea00;
}

.security-indicator .bar.critical {
    background-color: #ff3d00;
}

.box .customize {
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    font-weight: bold;
}

.box .customize .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.btns {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #005219;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.btns-style {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: 3rem;
}

.btns:hover {
    background-color: #006c2d;
}

.config {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#password-length {
    width: 700px;
}

.password-length {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    padding: 1rem;
    align-items: center;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.checkbox-container input:checked ~ .checkmark {	
    background-color: #005219;
    display: none;
}

.checkbox-container .checkmark:after {
    background-color: #005219;
}